@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  min-height: 100vh;
}
